@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;

}

/* Container for the toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Slider style */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  /* The slider circle */
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  /* When the checkbox is checked */
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  /* Move the slider circle to the right */
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  